* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  background: #000;
  max-width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main {
  background-image: url("../Assets/Images/background.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 678px;
  position: relative;
}

.main .box {
  height: 678px;
  width: 100%;
  opacity: 0.74;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 80vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 24px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  word-break: break-word;
  width: 640px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 70px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.nav-btn {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  border: 0px transparent;
  color: white;
  background-color: #e50914;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #b20710;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-wrapper {
  position: relative;
  display: inline-block;
}
input {
  box-sizing: border-box;
  padding: 16px 25px 16px 25px;
  width: 30vw;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}
label {
  position: absolute;
  left: 16px;
  top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}
input:focus,
input:valid {
  padding: 24px 0px 10px 21px;
  background-color: rgba(23, 23, 23, 0.8);
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.15);
  color: white;
}
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(23, 23, 23, 0.8) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s; /* Chrome autofill flash bypass trick */
  font-size: 16px !important;
  font-weight: 400 !important;
}
input:-webkit-autofill:focus {
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.15);
  padding: 24px 0px 10px 21px;
}
input:focus + label,
input:valid + label {
  top: 8px;
  left: 12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  padding: 0 5px;
}

.btn-red {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #e50914;
  color: white;
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  border: 0px transparent;
  transition: all 0.3s ease;
}
.curved {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  height: 6.25rem;
  z-index: 4;
  top: -16px;
}
.line {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  margin: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: solid 0.25rem transparent;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  border-bottom: none;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
  background-clip: padding-box;
}
.line::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-top: -0.25rem;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

.slider-sec {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.slider-head {
  margin: 98px 0px -70px 130px;
}
.slider-head > h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 12px;
}
.reason_card_section {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0px 120px;
  width: auto;
height: 400px;
}
.reason-head > h2 {
  color: white;
  font-size: 1.5rem;
}
.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.cards li {
  position: relative;
  top: -30px;
  list-style-type: none;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  backdrop-filter: blur(30px);
  border-radius: 20px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 315px;
  width: 232px;
  gap: 30px;
  padding: 30px 20px;
  justify-content: stretch;
}
.card-container > .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card-container > .text-content .heading-content {
  justify-self: flex-start;
}
.card-container > .text-content .heading-content h2 {
  font-size: 24px;
  line-height: normal;
  color: white;
}
.card-container > .text-content .para-content {
  justify-self: flex-end;
}
.card-container > .text-content .para-content p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.faq-section {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0px 165px;
}

.faq-container {
  width: 70vw;
  margin: 20px 0px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.faq-item {
  background-color: #2d2d2d;
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
.faq-question {
  background-color: #2d2d2d;
  color: #fff;
  width: 100%;
  text-align: left;
  padding: 25px 20px;
  font-size: 24px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}
.faq-question:hover {
  background-color: #3d3d3d;
}
.icon {
  font-weight: 400;
  font-size: 24px;
  transition: transform 0.3s ease;
}
.faq-answer {
  border-top: 2px solid black;
  max-height: 0;
  overflow: hidden;
  background-color: #2a2828;
  color: #ddd;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 400;
  transition: max-height 0.5s ease, padding 0.3s ease;
}

.faq-item.open .faq-answer {
  max-height: 300px;
  padding: 15px 20px;
}

.faq-item.open .icon {
  transform: rotate(45deg); /* '+' to '×' */
}
.cta-section {
  display: flex;
  flex-direction: column;
  height: 150px;
  color: white;
  margin: 30px 160px;
  justify-content: space-evenly;
  align-items: center;
}
.cta-input {
  width: 40vw;
}
footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: rgba(255, 255, 255, 0.7);
  margin: 70px 160px 150px 160px;
  align-items: flex-start;
  gap: 50px;
  font-weight: 400;
  position: relative;
  width: max-content;
}
footer > a:first-child {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.link-container {
  gap: 140px;
  width: 90vw;
  display: flex;
  align-items: flex-start;
}
.link-container ul {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    width: 80%;
    gap: 25px 18px;
    justify-items: start;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}
.link-container ul li {
  list-style: none;
}
.link-container ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
small {
  font-size: 13px;
}
small > a {
  color: rgb(68, 142, 244);
  font-size: 13px;
}
footer span {
  font-size: 14px;
}
.footer-btn {
  display: inline-flex;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  min-width: auto;
  width: auto;
  position: relative;
  box-sizing: border-box;
  padding-right: 8px;
}
.footer-btn > .svg-img {
  position: absolute;
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: 1.25rem;
  right: auto;
  z-index: 1;
}

.footer-btn select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  appearance: none;
  width: 100%;
  cursor: pointer;
  font-family: unset;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  padding-top: 0.375rem;
  padding-right: calc(1.5rem + 0rem);
  padding-bottom: 0.375rem;
  padding-left: calc(0.25rem + 1rem + 0.5rem);
  min-height: 16px;
}
.footer-btn select:focus {
  outline: none;
}
.footer-btn select::-webkit-scrollbar {
  width: 8px;
}
.footer-btn select option {
  background-color: transparent;
  color: white;
  padding: 10px;
}
.fa-language {
  color: white;
}
.footer-svg{
    position: relative;
    left: 20px;
    top: 8px;
}

/* Tablets (768px - 1024px) */
@media (max-width: 1024px) {
  nav {
    max-width: 90vw;
    padding: 0 20px;
  }
  .hero {
    gap: 20px;
    padding: 0 20px;
  }
  .hero > :nth-child(1) {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    width: 60%;
  }
  .hero > :nth-child(2) {
    font-size: 16px;
    font-weight: 400;
  }
  .hero > :nth-child(3) {
    font-size: 16px;
    line-height: 24px;
  }
  .hero-buttons {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  input {
    width: 30vw;
  }
  .btn-red {
    font-size: 18px;
    font-weight: 600;
    padding: 18.5px 25px;
    width: auto;
  }
  .nav-btn {
    padding: 8px 18px;
    font-size: 13px;
  }
  .slider-sec {
    height: 420px;
  }

  .slider-head {
   margin: 98px 0px -78px 31px;
  }
  .slider-main {
    margin-top: 20px;
  }
  .reason_card_section {
    margin: 0px 30px;
    margin-bottom: 50px;
    height: auto;
  }
  .cards {
    flex-direction: column;
    gap: 10px;
  }
  .cards li {
    width: 100%;
    border-radius: 10px;
  }
  .card-container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 20px 15px;
    gap: 0px;
  }
  .card-container > .text-content {
    align-items: flex-start;
    width: 100%;
    gap: 0px;
  }
  .card-container > .text-content .heading-content h2 {
    font-size: 20px;
  }
  .text-content h2 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
  }
  .para-content p {
    font-size: 1.05rem;
    line-height: 1.5;
  }
  .slider-head > h2,
  .faq-section h2,
  .reason-head h2 {
    font-size: 18px;
  }
  .reason-head > h2 {
    margin-bottom: 1rem;
  }
  .faq-section {
    margin: 0 30px;
    height: auto;
  }
  .faq-container {
    width: 100%;
  }
  .faq-question {
    font-size: 18px;
    padding: 20px 16px;
  }
  .faq-answer {
    font-size: 18px;
    padding: 0 16px;
  }
    .faq-item.open .faq-answer {
    padding: 15px 16px;
  }
  .icon {
    width: 28px;
    height: 28px;
  }
  .cta-section {
    margin: 30px;
    text-align: center;
  }

  .cta-input {
    width: 66vw;
  }

  footer {
    margin: 70px 60px 100px 35px;
    width: auto;
  }

  .link-container {
    gap: 60px;
    flex-wrap: wrap;
  }
  .link-container ul{
    grid-template-columns: 5fr 5fr 5fr ;
    width: 100%;
    gap: 18px;
  }
  .footer-svg{
    left: 20px;
  top: 6.3px;
}
  .footer-svg svg {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 960px){
  .link-container ul{
    grid-template-columns: 5fr 5fr 5fr ;
  }
}
/* Mobile (max 767px) */
@media (max-width: 767px) {
  * {
    padding: 0;
    margin: 0;
  }
  nav {
    flex-direction: row;
    padding: 0 15px;
    height: 80px;
  }
  nav img {
    width: 100px;
  }
  .hero {
    padding: 0 15px;
    gap: 18px;
  }
  .hero > :nth-child(1) {
    font-size: 32px;
    line-height: 40px;
    width: 100%;
  }
  .hero > :nth-child(2) {
    font-size: 16px;
  }
  .hero > :nth-child(3) {
    font-size: 16px;
    line-height: 20px;
  }
  .hero-buttons {
    flex-direction: column;
    gap: 10px;
    width: 95%;
  }
  input {
    width: 85vw;
    padding: 14px 22px;
  }
  .btn-red {
    font-size: 18px;
    padding: 12px 22px;
    width: 65%;
        gap: 40px;
  }
  .nav-btn {
    padding: 7px 16px;
    font-size: 12px;
  }
  .curved {
    top: -20px;
  }
       .slider-sec {
        height: 350px;
    }
.slider-head {
        margin: 63px 0px -70px 30px;
    }

  .slider-main {
    margin-top: 40px;
  }
  .reason_card_section {
        margin: 0px 20px;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .card-container {
    padding: 1rem;
  }

  .text-content h2 {
    font-size: 1.4rem;
  }

  .para-content p {
    font-size: 1rem;
  }

  .svg-img svg {
    width: 64px;
    height: 64px;
  }
  .faq-section {
    margin: 0 20px;
  }

  .faq-question {
    font-size: 18px;
    padding: 18px 12px;
  }

  .faq-answer {
    font-size: 18px;
    padding: 0 12px;
  }

  .faq-item.open .faq-answer {
    padding: 12px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
  .cta-section {
    margin: 40px 20px;
    align-items: center;
    text-align: center;
  }
.cta-section .hero-buttons{
  width: 100%;
}
  .cta-section p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cta-input {
    width: 100%;
    padding: 14px 22px;
    font-size: 1rem;
  }

  footer {
    gap: 30px;
    align-items: flex-start;
    width: auto;
    height: 120vh;
  }

  .link-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

    .link-container ul {
        grid-template-columns: 5fr;
        width: 100%;
      }

  footer span,
  small {
    font-size: 12px;
  }

  .footer-btn > .svg-img {
    left: 1rem;
    top: 0.6rem;
  }

}
@media screen and (max-width: 540px) {
   .link-container ul {
        grid-template-columns: 5fr 5fr;
        width: 100%;
      }
       .btn-red {
        width: 45%;
        gap: 10px;
      }
}
@media screen and (max-width: 360px) {
   .btn-red {
        width: 65%;
      }
}